* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Roboto Mono, monospace;
  font-size: 1rem;
}

.nav {
  background-image: url(../Img/texturafooter.png);
  width: 100%;
}

button img {
  width: 80px;
}

.nav_list {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav_list li a {
  text-decoration: none;
  color: white;
  background-color: orange;
  border-radius: 20px;
  padding: 10px;
  border: black 3px solid;
}
.nav_list li a:hover {
  text-shadow: 2px 2px 2px black;
  background-color: rgb(114, 78, 12);
  border: 3px solid rgb(255, 255, 255);
}

.abrir_menu, .cerrar_menu {
  display: none;
}

.botonera {
  background-image: url(../Img/texturafooter.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 35px;
}
.botonera img {
  width: 60px;
}
.botonera .bt1 {
  border-radius: 100%;
  border: solid black 3px;
  padding: 5px;
  background-color: aqua;
}
.botonera .bt1:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px aqua;
}
.botonera .bt2 {
  border-radius: 100%;
  border: solid black 3px;
  padding: 5px;
  background-color: pink;
}
.botonera .bt2:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px pink;
}
.botonera .bt3 {
  border-radius: 100%;
  border: solid black 3px;
  padding: 5px;
  background-color: green;
}
.botonera .bt3:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px green;
}
.botonera .bt4 {
  border-radius: 100%;
  border: solid black 3px;
  padding: 5px;
  background-color: purple;
}
.botonera .bt4:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px purple;
}
.botonera .bt5 {
  border-radius: 100%;
  border: solid black 3px;
  padding: 5px;
  background-color: red;
}
.botonera .bt5:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px red;
}

@media screen and (max-width: 600px) {
  .botonera {
    justify-content: space-between;
    padding: 5px;
    border-radius: 35px;
  }
  .botonera img {
    width: 35px;
  }
  .abrir_menu, .cerrar_menu {
    display: block;
    background: transparent;
    border: 0;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 170px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vmax;
    border: white 5px solid;
  }
  .nav img {
    position: relative;
    width: 80px;
  }
  .nav .nav_list {
    gap: 50px;
    margin-top: 150px;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav_list {
    flex-direction: column;
    gap: 2rem;
    margin-top: 80px;
  }
}
.index_layaout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto auto auto auto);
  grid-template-areas: "n1 n1 n2" "n3 n3 n2" "n4 n4 n2" "n5 n5 n2" "n6 n6 n6";
  background-color: rgba(255, 255, 255, 0.452);
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin-top: 30px;
  padding: 30px;
  gap: 30px;
  padding-bottom: 30px;
  text-align: justify;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid white;
  border-bottom: 0px;
}
.index_layaout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index_layaout .articulo1 {
  grid-area: n1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.index_layaout .articulo2 {
  grid-area: n2;
}
.index_layaout .articulo3 {
  grid-area: n3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.index_layaout .articulo4 {
  grid-area: n4;
}
.index_layaout .articulo5 {
  grid-area: n5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.index_layaout .articulo6 {
  grid-area: n6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .index_layaout {
    display: flex;
    flex-direction: column;
  }
  .index_layaout h3, .index_layaout h2 {
    text-align: center;
  }
  .index_layaout .articulo2 {
    height: 400px;
    overflow: hidden;
  }
  .index_layaout iframe {
    width: 100%;
  }
}
.objetos_layaout .objeto {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  margin-bottom: 20px;
}
.objetos_layaout .objeto .textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 166, 0, 0.425);
  border-radius: 0px 20px 20px 0px;
}
.objetos_layaout .objeto img {
  width: 100%;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 600px) {
  .objetos_layaout .objeto {
    display: grid;
    grid-template-columns: auto;
  }
  .objetos_layaout .objeto .textos {
    border-radius: 0px 0px 20px 20px;
  }
  .objetos_layaout .objeto img {
    border-radius: 20px 20px 0px 0px;
  }
  .objetos_layaout h3, .objetos_layaout .nombre_pagina {
    text-align: center;
    padding-bottom: 10px;
  }
}

.pokemon_layaout h3 {
  background-color: orange;
  border: rgba(81, 7, 150, 0.918) solid 5px;
  text-align: center;
  border-radius: 20px;
}
.pokemon_layaout .card {
  padding: 15px;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  background-image: url(../Img/texturafooter.png);
  display: flex;
  flex-direction: column;
}
.pokemon_layaout .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 15px rgba(0, 1, 1, 0.9);
}
.pokemon_layaout .card .contenido {
  padding: 10px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-radius: 0px 0px 20px 20px;
  flex-grow: 1;
  flex-wrap: 1;
}
.pokemon_layaout .card img {
  width: 100%;
}
.pokemon_layaout .contenedor_pokemon {
  width: 100%;
}
.pokemon_layaout .contenedor_pokemon .poke_agil, .pokemon_layaout .contenedor_pokemon .poke_auxiliar, .pokemon_layaout .contenedor_pokemon .poke_defensivo, .pokemon_layaout .contenedor_pokemon .poke_equilibrado, .pokemon_layaout .contenedor_pokemon .poke_ofensivo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pokemon_layaout .poke_agil img, .pokemon_layaout .poke_auxiliar img, .pokemon_layaout .poke_defensivo img, .pokemon_layaout .poke_equilibrado img, .pokemon_layaout .poke_ofensivo img {
  background-color: rgba(0, 255, 255, 0.685);
  border-radius: 20px 20px 0px 0px;
}
.pokemon_layaout .poke_auxiliar img {
  background-color: rgba(255, 192, 203, 0.808);
  border-radius: 20px 20px 0px 0px;
}
.pokemon_layaout .poke_defensivo img {
  background-color: rgba(0, 128, 0, 0.753);
  border-radius: 20px 20px 0px 0px;
}
.pokemon_layaout .poke_equilibrado img {
  background-color: rgba(128, 0, 128, 0.801);
  border-radius: 20px 20px 0px 0px;
}
.pokemon_layaout .poke_ofensivo img {
  background-color: rgba(255, 30, 0, 0.596);
  border-radius: 20px 20px 0px 0px;
}
@media screen and (max-width: 800px) {
  .pokemon_layaout .contenedor_pokemon .poke_agil, .pokemon_layaout .contenedor_pokemon .poke_auxiliar, .pokemon_layaout .contenedor_pokemon .poke_defensivo, .pokemon_layaout .contenedor_pokemon .poke_equilibrado, .pokemon_layaout .contenedor_pokemon .poke_ofensivo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .pokemon_layaout h3, .pokemon_layaout .nombre_pagina {
    text-align: center;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .pokemon_layaout .contenedor_pokemon {
    display: flex;
    flex-direction: column;
  }
  .pokemon_layaout .contenedor_pokemon .poke_agil, .pokemon_layaout .contenedor_pokemon .poke_auxiliar, .pokemon_layaout .contenedor_pokemon .poke_defensivo, .pokemon_layaout .contenedor_pokemon .poke_equilibrado, .pokemon_layaout .contenedor_pokemon .poke_ofensivo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pokemon_layaout h3, .pokemon_layaout .nombre_pagina {
    text-align: center;
    padding-bottom: 10px;
  }
}

.imagenes_layaout .gallery {
  display: flex;
  flex-direction: column;
}
.imagenes_layaout .gallery .escritorio {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.imagenes_layaout .gallery .celular {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20pX;
}
.imagenes_layaout .gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .imagenes_layaout .gallery {
    display: grid;
    grid-template-columns: auto;
  }
  .imagenes_layaout .gallery .celular {
    grid-template-columns: auto auto;
  }
  .imagenes_layaout h3, .imagenes_layaout .nombre_pagina {
    text-align: center;
  }
}

.clases_layaout .contenedor_clase {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  border-radius: 20px;
}
.clases_layaout .contenedor_clase h3 {
  background-color: orange;
  border: rgba(81, 7, 150, 0.918) solid 5px;
  border-radius: 20px;
  text-align: center;
}
.clases_layaout .contenedor_clase .textos {
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  background-color: rgba(240, 248, 255, 0.63);
}
.clases_layaout .contenedor_clase figure {
  background-image: url(/Img/texturafooter.png);
  border-radius: 20px 0px 0px 20px;
}
.clases_layaout .contenedor_clase .clase_defensivo {
  background-color: rgba(0, 128, 0, 0.753);
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.clases_layaout .contenedor_clase .clase_ofensivo {
  background-color: rgba(255, 30, 0, 0.596);
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.clases_layaout .contenedor_clase .clase_equilibrado {
  background-color: rgba(128, 0, 128, 0.801);
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.clases_layaout .contenedor_clase .clase_agil {
  background-color: rgba(0, 255, 255, 0.685);
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.clases_layaout .contenedor_clase .clase_auxiliar {
  background-color: rgba(255, 192, 203, 0.808);
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
@media screen and (max-width: 600px) {
  .clases_layaout .contenedor_clase {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% auto;
  }
  .clases_layaout .contenedor_clase .textos {
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.63);
  }
  .clases_layaout .contenedor_clase figure {
    background-image: url(/Img/texturafooter.png);
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout .contenedor_clase .clase_defensivo {
    background-color: rgba(0, 128, 0, 0.753);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout .contenedor_clase .clase_ofensivo {
    background-color: rgba(255, 30, 0, 0.596);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout .contenedor_clase .clase_equilibrado {
    background-color: rgba(128, 0, 128, 0.801);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout .contenedor_clase .clase_agil {
    background-color: rgba(0, 255, 255, 0.685);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout .contenedor_clase .clase_auxiliar {
    background-color: rgba(255, 192, 203, 0.808);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .clases_layaout h3, .clases_layaout .nombre_pagina {
    text-align: center;
  }
}

.builds_layaout .builds_box {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  align-items: center;
}
.builds_layaout .builds_box .poke_img {
  background-color: rgba(0, 128, 0, 0.753);
  overflow: hidden;
  border-radius: 60px;
}
.builds_layaout .builds_box .poke_img img {
  width: 100%;
}
.builds_layaout .builds_box .poke_obj {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 128, 0, 0.753);
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 70px 70px 0px;
}
.builds_layaout .builds_box .poke_obj img {
  border: black solid 5px;
  border-radius: 100%;
}
.builds_layaout .builds_box2 {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: auto;
  align-items: center;
}
.builds_layaout .builds_box2 .poke_img {
  background-color: rgba(0, 128, 0, 0.753);
  border-radius: 100%;
  overflow: hidden;
  border-radius: 60px;
}
.builds_layaout .builds_box2 .poke_img img {
  width: 100%;
}
.builds_layaout .builds_box2 .poke_obj {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 128, 0, 0.753);
  justify-content: space-around;
  align-items: center;
  border-radius: 70px 0px 0px 70px;
}
.builds_layaout .builds_box2 .poke_obj img {
  border: black solid 5px;
  border-radius: 100%;
}
@media screen and (max-width: 600px) {
  .builds_layaout .builds_box,
  .builds_layaout .builds_box2 {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    border: white 5px solid;
    padding: 20px;
    background-image: url(../Img/texturafooter.png);
  }
  .builds_layaout .builds_box .poke_img,
  .builds_layaout .builds_box2 .poke_img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }
  .builds_layaout .builds_box .poke_img img,
  .builds_layaout .builds_box2 .poke_img img {
    background-color: rgb(32, 179, 32);
  }
  .builds_layaout .builds_box .poke_obj,
  .builds_layaout .builds_box2 .poke_obj {
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .builds_layaout .builds_box .poke_obj img,
  .builds_layaout .builds_box2 .poke_obj img {
    width: 35%;
    border: black solid 5px;
    border-radius: 100%;
  }
  .builds_layaout .builds_box2 .poke_obj {
    border-radius: 20px 20px 0px 0px;
  }
  .builds_layaout .builds_box2 .poke_img {
    border-radius: 0px 0px 20px 20px;
  }
  .builds_layaout h3, .builds_layaout .nombre_pagina {
    text-align: center;
  }
}

header {
  text-align: center;
  padding: 20px;
}
header img {
  width: 150px;
}
header h1 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: "Black Ops One", cursive;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background: linear-gradient(orange, rgb(97, 30, 185) 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .nombre_pagina {
  font-family: "Black Ops One", cursive;
  font-size: 50px;
  color: black;
  -webkit-text-stroke: 1px white;
}
body h3 {
  font-size: 30px;
  color: black;
  padding-bottom: 10px;
}
body .btn {
  width: 100%;
  height: 100%;
}
body .btn .flecha img {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
body .btn .flecha img:hover {
  transform: translateY(-20px);
}

.layaout_general, .clases_layaout, .pokemon_layaout, .objetos_layaout, .imagenes_layaout, .builds_layaout {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.452);
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin-top: 30px;
  padding: 30px;
  gap: 30px;
  padding-bottom: 30px;
  text-align: justify;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid white;
  border-bottom: 0px;
}

footer {
  text-align: center;
  background-image: url(../Img/texturafooter.png);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}
footer .image-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  footer .image-links {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
