.builds_layaout
{
   
  .builds_box
  {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    align-items: center;
        

    .poke_img
    {
      background-color:rgba(0, 128, 0, 0.753);
      overflow: hidden;
      border-radius: 60px;
          
      img
      {
      width: 100%;
      }
    }

    .poke_obj
    {
      display: flex;
      flex-direction: row;
      background-color:rgba(0, 128, 0, 0.753);
      justify-content: space-around;
      align-items: center;
      border-radius: 0px 70px 70px 0px;

      img
      {
        border: black solid 5px;
        border-radius: 100%;
      }

    }
        
  }

  .builds_box2
  {
    display: grid;
    grid-template-columns:auto 30%;
    grid-template-rows: auto;
    align-items: center;


    .poke_img
    {
      background-color:rgba(0, 128, 0, 0.753);
      border-radius: 100%;
      overflow: hidden;
      border-radius: 60px;
            
      img
      {
        width: 100%;
      }
          
    }

    .poke_obj
    {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      background-color:rgba(0, 128, 0, 0.753);
      justify-content: space-around;
      align-items: center;
      border-radius: 70px 0px 0px 70px;

      img
      {
        border: black solid 5px;
        border-radius: 100%;
      }
    }
        
  }

  @media screen and (max-width:600px)
  {
    
    .builds_box,
    .builds_box2
    {
      display: flex;
      flex-direction: column;
      border-radius:  20px 20px 20px 20px;
      border: white 5px solid;
      padding: 20px;
      background-image: url(../Img/texturafooter.png);
      
      .poke_img
      {
        width: 100%;
        overflow: hidden;
        border-radius: 20px  20px 0px 0px;

        img
        {
          background-color: rgb(32, 179, 32);
        }
        
      }

      .poke_obj
      {
        border-radius: 0px  0px 20px 20px;
        background-color:rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        padding: 20px;

        img
        {
          width: 35%;
          border: black solid 5px;
          border-radius: 100%;
        }
      }
    }

    .builds_box2
    {
      .poke_obj
      {
        border-radius: 20px  20px 0px 0px;
      }

      .poke_img
      {
        border-radius: 0px  0px 20px 20px;
      }
    }
    
    h3, .nombre_pagina
    {
        
        text-align: center;
    }


  }


}