.clases_layaout 
{
    
    .contenedor_clase
    {
        display: grid;
        grid-template-columns: 20%  auto;
        grid-template-rows: auto;
        border-radius: 20px;
        
        h3
        {
            background-color: orange;
            border: rgba(81, 7, 150, 0.918) solid 5px;
            border-radius: 20px;
            text-align: center;
        }

        .textos
        {   
            border-radius: 0px 20px 20px 0px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            background-color: rgba(240, 248, 255, 0.63);
        }

        figure
        {
            background-image:url(/Img/texturafooter.png);
            border-radius: 20px 0px 0px 20px;
        
        }

        .clase_defensivo
        { 
            background-color:rgba(0, 128, 0, 0.753); 
            width: 100%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }

        .clase_ofensivo{
            background-color: rgba(255, 30, 0, 0.596);
            width: 100%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }

        .clase_equilibrado
        {
            background-color: rgba(128, 0, 128, 0.801) ;
            width: 100%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }

        .clase_agil
        {
            background-color:rgba(0, 255, 255, 0.685);
            width: 100%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }

        .clase_auxiliar
        {
            background-color: rgba(255, 192, 203, 0.808);
            width: 100%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }
    }

    @media screen and ( max-width: 600px )
    {
        .contenedor_clase
        {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 60% auto;

            .textos
            {   
                border-radius: 0px 0px 20px 20px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 10px;
                background-color: rgba(240, 248, 255, 0.63);
            }

            figure
            {
                background-image:url(/Img/texturafooter.png);
                border-radius: 20px 20px 0px 0px;
            
            }

            .clase_defensivo
            { 
                background-color:rgba(0, 128, 0, 0.753); 
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0px 0px;
            }

            .clase_ofensivo{
                background-color: rgba(255, 30, 0, 0.596);
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0px 0px;
            }

            .clase_equilibrado
            {
                background-color: rgba(128, 0, 128, 0.801) ;
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0px 0px;
            }

            .clase_agil
            {
                background-color:rgba(0, 255, 255, 0.685);
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0px 0px;
            }

            .clase_auxiliar
            {
                background-color: rgba(255, 192, 203, 0.808);
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            
        }
        
        h3, .nombre_pagina
        {
        
            text-align: center;
        }
        
    }


}


