.pokemon_layaout
{
    h3  
    {
        background-color: orange;
        border: rgba(81, 7, 150, 0.918) solid 5px;
        text-align: center;
        border-radius: 20px;
    }
    
    .card
    {
        padding: 15px;
        border-radius: 20px;
        border: 5px solid rgb(255, 255, 255) ;
        background-image: url(../Img/texturafooter.png);
        display: flex;
        flex-direction: column;

        &:hover
        {
            transform: translateY( -20px);
            box-shadow: 0 10px 15px rgba( 0,.9,.9,.9);
        }

        .contenido
        {
            padding: 10px;
            gap: 10px;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            text-align: justify;
            border-radius: 0px 0px 20px 20px;
            flex-grow: 1;
            flex-wrap: 1;  
        }

        img
        {
            width: 100%;
        }
    }

    .contenedor_pokemon 
    {
        width: 100%;

        .poke_agil
        {   
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-top: 20px;
            margin-bottom: 20px
        }

    }


    .poke_auxiliar, .poke_defensivo, .poke_equilibrado, .poke_ofensivo
    {   
    @extend .poke_agil;
    }

    .poke_agil img
    {  
        background-color:rgba(0, 255, 255, 0.685);
        border-radius:20px 20px 0px 0px ; 
    }

    .poke_auxiliar img
    {
        background-color: rgba(255, 192, 203, 0.808);
        border-radius:20px 20px 0px 0px;
    }

    .poke_defensivo img
    {
        background-color:rgba(0, 128, 0, 0.753); 
        border-radius:20px 20px 0px 0px;
    }

    .poke_equilibrado img
    {
        background-color: rgba(128, 0, 128, 0.801);
        border-radius:20px 20px 0px 0px; 
    }

    .poke_ofensivo img
    {
        background-color: rgba(255, 30, 0, 0.596);
        border-radius:20px 20px 0px 0px;
    }

    @media screen and ( max-width: 600px )
    {   
        .contenedor_pokemon
        {
            display: flex;
            flex-direction: column;

            .poke_agil
            {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
    
}

  
